<mk-header>


</mk-header>

<div class="container">
    <div class="row">
        <div class="col-xs-4"><label class="label-password" for="server-password">Enter your password: </label></div>
        <div class="col-xs-7"><input id="server-password" ng-model="password" class="form-control" type="password"> <label ng-if="invalidPassword" class="label label-danger">Wrong Password</label></div>
    </div>
    <div class="row">
        <div class="col-xs-12 buttons">
            <button class="btn btn-primary btn-lg" ng-click="authenticateServer()">Login</button>
        </div>
    </div>
</div>
