@import "mixins";

.mk-servers {

  .servers {
    text-align: center;
    .server {
      position: relative;
      margin: 2rem 0;
      width: 25%;
      display: inline-block;
      text-align: center;


      .profile-image-container {
        padding: 0 5rem;
      }

      .profile-name {
        //font-size: 1.4em;
      }
    }
  }

}